<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container">
      
      
      <button
        class="navbar-toggler"
        type="button"
        (click)="buttonsNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
        #buttonsNav="mdbCollapse"
      >
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
        </ul>
        
  
        <div class="d-flex align-items-right">
          <button type="button" class="btn btn-outline-light px-3 me-2" routerLink="/login" id="login-btn">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3" routerLink="/signup">
            Sign up 
          </button>
          <button type="button" class="btn btn-outline-light px-1 me-2" routerLink="/adminlogin" id="adminlogin-btn">
            Admin Login
          </button>
        </div>
      </div>
      
    </div>
    
  </nav>
  