<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 p-3 shadow">
                <h3>Hello, Admin</h3>
                <button class="btn btn-outline-danger" (click)="adminlogout()" >Logout</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" id="crud-container">
    <div class="d-flex align-items-right">
        <button type="button" class="btn btn-primary px-3 me-2" id="create-btn" (click)="add()">
          +Add Package
        </button>
    </div>
    <div class="col">
        <table class="table table-hover table-info ">
            <thead>
              <tr>
                <th scope="col">SI. no.</th>
                <th scope="col">Id</th>
                <th scope="col">Package Name</th>
                <th scope="col">No. of Days</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of items; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{x.PackageId}}</td>
                <td>{{x.PackageName}}</td>
                <td>{{x.Days}}</td>
                <td>{{x.Price}}</td>
                <!-- <td (click)="edit(x.PackageId)"><i class="bi bi-pencil-square" ></i></td>
                <td (click)="remove(x.PackageId)"><i class="bi bi-trash3-fill" ></i></td> -->
                <td><button class="btn-primary" (click)="edit(x.PackageId)"><i class="bi bi-pencil-square" ></i></button></td>
                <td><button class="btn-dark" (click)="remove(x._id)"><i class="bi bi-trash3-fill" ></i></button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<!--  -->